@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #ffffff;
  color: #191f28; /* 토스 기본 텍스트 컬러 */
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Noto Sans KR", sans-serif;
  overscroll-behavior: none;
}

* {
  box-sizing: border-box;
}